<p><%= @game.players[@game.index].name %> attacked <%= @game.players[@game.index_defence].name %> </p>
<p><%= @game.players[@game.index_defence].name %>: <%= @game.players[@game.index_defence].hp %>HP </p>
<p> <%= @game.players[@game.index_defence].name%>s turn</p>
<a href='/switch'>Switch</a>
